/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

li {
  text-decoration: none;
  list-style: none; }

html {
  max-height: 100%;
  max-width: 100%; }

body {
  width: 100%;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 2vw; }

a {
  color: inherit; }

a:active, a:hover {
  color: #5b4555;
  text-decoration: none; }

input, textarea, button {
  border-radius: 0px; }

input:focus, textarea:focus {
  outline: none; }

.ref {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.5;
  display: none; }

header {
  width: 100%;
  font-family: 'Cuprum', sans-serif;
  position: fixed;
  font-size: 1.5em;
  font-weight: bolder;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.5);
  color: #b65d8b;
  padding-bottom: 1%; }
  header img {
    height: 8.5vw;
    margin-left: 5%; }
  header a {
    letter-spacing: 0.06em;
    font-weight: bold;
    font-size: 0.8em; }

nav {
  text-align: center;
  padding-bottom: 4%; }
  nav li {
    padding: 1%; }
  nav li:last-child {
    padding-bottom: 0%; }
  nav li:hover {
    font-weight: bold;
    color: #5b4555;
    cursor: pointer; }

.ham {
  cursor: pointer;
  position: absolute;
  top: 3vh;
  left: 85%; }
  .ham i {
    font-size: 4vw; }

.ham:active {
  animation-name: rotate ease;
  animation-duration: 8s;
  animation-direction: alternate; }

@media screen and (min-width: 600px) {
  header {
    font-size: 1em; } }

@media screen and (min-width: 960px) {
  header {
    font-size: 0.75em;
    padding-bottom: 0%;
    background-color: rgba(255, 255, 255, 0.5); }
  .ham {
    display: none; }
  .collapse {
    display: block; }
  nav {
    padding-bottom: 0%; }
  nav > ul {
    position: absolute;
    width: 60%;
    left: 45%;
    top: 38%; }
  nav > ul > li {
    display: inline-block;
    margin-right: 3.5%; } }

.home {
  min-height: 51.5vw;
  width: 100%;
  background-color: #f0eeef;
  font-weight: bold;
  letter-spacing: 0.25vw;
  background-image: url("/../images/heroImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .home img {
    width: 100%;
    display: none; }
  .home h4 {
    font-size: 1.5em;
    padding-top: 12%;
    margin-left: 19%;
    margin-bottom: 3%;
    color: #5b4555; }
  .home .book {
    width: 23vw;
    margin-left: 22.6vw;
    background-color: #fff; }
    .home .book .title {
      background-color: #b65d8b;
      padding: 4%; }
      .home .book .title li {
        color: #fff;
        padding: 2.5%; }
    .home .book li {
      text-align: center;
      color: #5b4555;
      font-size: 0.5em;
      font-weight: bolder; }
  .home .callUs {
    padding-bottom: 7.5%; }

.inHome input, .inHome textarea {
  border: 0.15em solid #b65d8b;
  background-color: #fff; }

.inHome input:focus, .inHome textarea:focus {
  color: #5b4555;
  background-color: #fff;
  border: 0.15em solid #b65d8b; }

.inHome ::placeholder {
  color: #b65d8b; }

.inHome :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b65d8b; }

.inHome ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b65d8b; }

@media screen and (min-width: 750px) {
  .home > h4 {
    text-align: inherit; }
  .book {
    width: 25%; } }

.services {
  width: 100%;
  background-color: #fff;
  font-size: 0.15em;
  font-weight: bold; }
  .services h2 {
    text-align: center;
    padding: 4.5% 0 1.5% 0%;
    font-size: 3.25vw;
    color: #5b4555; }
  .services .allService {
    width: 100%;
    text-align: center;
    padding-bottom: 3.5%; }
  .services .serviceItem {
    width: 28vw;
    height: 22vw;
    display: inline-block;
    padding: 3% 0.5% 6.5% 0.5%;
    box-sizing: content-box; }
    .services .serviceItem .image {
      border-radius: 5px; }
      .services .serviceItem .image img {
        width: 100%;
        height: 100%; }
    .services .serviceItem .name {
      padding: 10%;
      width: 100%;
      color: #b65d8b;
      font-size: 2vw;
      font-weight: 900; }
    .services .serviceItem .detail {
      width: 90%;
      padding: 5%; }

.about {
  width: 100%;
  min-height: 10vh;
  color: #f2dfda;
  text-align: center;
  background-image: url("/../images/about.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .about .opacityDiv {
    background-color: rgba(71, 46, 59, 0.97);
    width: 100%; }
  .about h2 {
    font-size: 1.5em;
    padding-top: 5%;
    padding-bottom: 3.5%; }
  .about p {
    width: 60%;
    margin-left: 20%;
    padding-bottom: 5%;
    line-height: 2em;
    font-size: 1.5vw; }

.inAbout {
  background-color: #5b4555;
  border: 2px solid #f2dfda;
  color: #f2dfda;
  padding: 1.35% 4.5%;
  font-size: .75em;
  margin: 3% 0 6.5%;
  font-weight: 900;
  cursor: pointer; }

.contact {
  width: 100%;
  font-size: 0.65em;
  color: #5b4555;
  font-weight: bolder; }
  .contact .contactBook {
    width: 80%;
    margin-left: 20%; }
  .contact .contactUs {
    padding: 4.75%; }
  .contact h2 {
    font-size: 1.45em;
    font-weight: bolder; }
  .contact .map {
    width: 50%;
    display: inline-block;
    vertical-align: text-top; }
    .contact .map ul {
      margin-top: 15%;
      width: 100%;
      color: #c6bac1; }
    .contact .map li {
      padding: 5% 0 10%; }
      .contact .map li span {
        display: inline-block;
        width: 33%; }
    .contact .map li > div {
      width: 65%;
      display: inline-block;
      vertical-align: top; }
  .contact .right h2 {
    margin-left: 20%; }
  .contact .left > h2 {
    padding-top: 4%;
    margin-left: 6%;
    margin-bottom: 14%; }
  .contact .bookForm {
    width: 70%;
    margin-left: 7%; }
  .contact .formAdjust {
    width: 97%;
    margin-left: 10%; }

.inContact input, .inContact textarea {
  border: 0.15em solid #c6bac1;
  background-color: #fff; }

.inContact input:focus, .inContact textarea:focus {
  color: #5b4555;
  background-color: #fff;
  border: 0.15em solid #c6bac1; }

.inContact ::placeholder {
  color: #c6bac1; }

.inContact :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c6bac1; }

.inContact ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c6bac1; }

@media screen and (min-width: 1024px) {
  .contactBook {
    margin-left: 0%; }
  .contact .bookForm {
    width: 100%; }
  .contactUs {
    width: 70%;
    margin-left: 15%; } }

.bookMe {
  width: 100%;
  font-size: 2vw;
  background-color: #fff; }
  .bookMe form {
    width: 78%;
    margin-left: 11%;
    padding-top: 11%; }
  .bookMe input, .bookMe textarea {
    width: 100%;
    padding: .5em;
    margin: 4% 0;
    font-size: .6em;
    resize: auto;
    cursor: pointer; }
  .bookMe textarea {
    overflow: hidden; }
  .bookMe input:focus, .bookMe textarea:focus {
    font-size: 0.75em; }

.bookButton {
  padding: 4% 8%;
  font-size: .75em;
  margin: 7.5% 0 6.5%;
  font-weight: 900;
  cursor: pointer; }

.inForm {
  background-color: #b65d8b;
  color: #fff;
  border: 2px solid #b65d8b;
  width: 100%; }

.footer {
  text-align: center;
  background-color: #f2dfda;
  color: #b65d8b;
  font-size: 0.55em;
  font-weight: 600; }
  .footer li {
    padding: 1.5%; }

.landing {
  width: 100%;
  position: relative; }

.carousel img {
  height: 100% !important;
  width: 100% !important; }
